/* line 3, sass/main.scss */
body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
}

/* line 13, sass/main.scss */
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

/* line 17, sass/main.scss */
body input:required:valid,
body textarea:required:valid {
  color: green;
}

/* line 22, sass/main.scss */
.hidden {
  display: none;
}
