@import "bourbon/bourbon";
$text-color: #333;
$dark-color: #000000;
$red-color: #981818;
$blue-color: #003469;
$green-color: #67bc5c;

body{
	font-family: "RobotoRegular", sans-serif;
	color: $text-color;
	font-weight: normal;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	-webkit-font-smoothing: antialised;
}
h1{
	color: #fff;
	font-size: 60px;
	line-height: 56px;
	font-weight: bold;
	font-family: "CleanvertisingLight", sans-serif;
	margin: 0;

}
body input:focus:required:invalid,
body textarea:focus:required:invalid{
	color: red;
}
body input:required:valid,
body textarea:required:valid{
	color: green;
}

.hidden{
	display: none;
}
section{
	padding: 58px 0 68px;
	&.s_dark{
		h2, h3, p{
			color: #fff;
		}
	}
	h2{
		color: #blue-color;
		font-size: 50px;
		line-height: 56px;
	}
}
header{
	min-height: 640px;
	background-image: url("../img/top_bg.jpg");
	background-position: top center;
	background-size: cover;
	color: white;
	padding-top: 34px;
	.logo{
		font-size: 40px;
		font-family: "RobotoBold", sans-serif;
		font-weight: bold;
	}
	.top_phone{
		text-align: right;
	}
}
.top_phone .wrapper{
	.tab{
		cursor: pointer;
		text-transform: uppercase;
	}
	.active{
		text-decoration: underline;
	}
}
.top_phone .tab_item{
	display: none;
	font-size: 35px;
}
.top_phone .tab_item:first-child{
	display: block;
}
.top_header{
	margin-top: 70px;
	 h2{
		margin: 10px 0 0 0;
		font-family: "CleanvertisingLight", sans-serif;
		font-size: 36px;
	}
}
/*1:19:43*/
.tab_item{
	display: none
}
.tab_item:first-child{
	display: block;
}
.tabs_header{
	margin-top: 30px;
	.tabs{
		span{
			display: inline-block;
			background-color: rgba(255,255,255,.25);
			padding: 12px 18px;
			text-transform: uppercase;
			cursor: pointer;
			float: left;
			font-family: "RobotoBold", sans-serif;
			@include transition(all 1s ease);
			&.active{
				background-color:  rgba(255,255,255,.6);
				color: #000;
			}
		}
	}
	.tab_content{
		background-color:  rgba(255,255,255,.6);
		padding: 12px 18px;
	}
}
/***********************************/
/*************TABS END**************/
/***********************************/
/*1:39:43*/
